body {
	background-color:#ffffff;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
	text-align: justify;
}

img
{  
	border-style: solid;
    border-color: white;
	border-width: high;
}

a:link {text-decoration:none;
	color:#0000dd;}
a:visited {text-decoration:none;
	color:#0000dd;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#wrapper {
	width: 880px; 
	background-color:#ffffff; 
	border: 1px solid #89816f;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:30px;
	margin: 0 auto;
}

.container-fluid{
    margin:0px auto;
    width: 900px; 
}

#header {
	text-align: center;
	margin-bottom: 50px;
}

#abstract {
line-height:130%;
}

#paper {
	line-height:150%;
}

#database {
	clear:both;
	/*border:1px solid orange;*/
	/*background-color:orange;*/
}

#footer {
	clear:both;
}

.sequences {
	padding: 0px 0px 30px 50px; /*top right bottom left*/
	clear:both;
	/*border:1px solid red;*/
	overflow: auto;

}

.sequence {
	float: left;
	width:390px;
/*	border: 1px solid green;*/
}

.sequence:hover {
	background-color:#F3F3F3;
}

.sequence a:link {
	text-decoration:none;
	color:#696969;
}

.sequence a:visited {
	text-decoration:none;
	color:#696969;
}

.sequence a:hover {
	text-decoration:none;
	color:#000000;
}

.sequence a:active {
	text-decoration:none;
	color:#000000;
}


.sequence_description{
	width: 230px;
	height:90px;
	font-size:75%;
   	display: table-cell;    
   	vertical-align: middle;
	/*border: 1px solid red;*/
}

.sequence_description_col1{
/*	border: 1px solid #04F;*/
	padding-top: 4px;
/*	padding-bottom: 4px;*/
	width: 90px;
	float: left;
}

.sequence_description_col2{
	/*border: 1px solid #3F4;*/
	padding-top: 4px;
	/*padding-bottom: 4px;*/
	width: 90px;
	float: left;
}


.sequence_image {
	height: 90px;      
	width: 160px;
	text-align: center;
	float:left;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


.sequence_image img {
	background: #3A6F9A;
	vertical-align: middle;
	max-height: 90px;
	max-width: 160px;
}

/*.responsive-container { position: relative; padding-bottom: 53.25%; padding-top: 30px; height: 0; overflow: hidden; }
.responsive-container, .responsive-container iframe { max-width: 1280px; max-height: 720px; }
.responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

*/
